Flask
Flask-Cors
praw
pytrends
python-dotenv
transformers
sentence-transformers
spacy
networkx
matplotlib
textstat
beautifulsoup4
feedparser
selenium
webdriver-manager
requests
gunicorn
tokenizers
torch
faiss-cpu
numpy
cors
uvicorn
fastapi