Flask==2.1.1
Flask-Cors==2.1.2
praw==7.5.1
pytrends==4.7.3
python-dotenv==0.19.2
feedparser==6.0.8
beautifulsoup4==4.11.1
selenium==4.1.0
webdriver-manager==3.8.2
requests==2.28.1
transformers==4.20.1
sentence-transformers==2.2.0
spacy==3.2.0
networkx==2.8.4
matplotlib==3.5.1
textstat==0.7.1
